<launch>
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch" />
    <node pkg="team31" type="task5server.py" name="task5server"  output="screen">
    </node>
    <node pkg="team31" type="task5client.py" name="task5client" output="screen">
    </node>
    <node pkg="team31" type="task5camera2.py" name="task5camera2" output="screen">
    </node>
    <arg name="target_colour" default="red" />
</launch>